* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: #121212;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

header {
    min-height: 5vh;
    background-color: rgba(255, 255, 255, 0.14);
    display: flex;
    align-items: center;
    padding: 10px;
}

.content {
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: center;
}

.calender {
    display: none;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.07);
}

.date {
    padding-bottom: 15px;
    width: 25vw;
}

.date:not(:first-child){
    padding-top: 15px;
}

.date .header {
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.11);

}

.element {
    padding: 5px;
}

.right {
    position: absolute;
    right: 10px;
}

footer {
    min-height: 5vh;
    background-color: rgba(255, 255, 255, 0.14);
    padding: 10px;
    color: rgba(255, 255, 255, 0.27);
    justify-content: center;
    align-items: center;
    display:flex;
    font-size: 12px;
}

a {
    text-decoration: underline;
    color: white;
}

.subject {
    font-weight: bold;
    padding-top: 10px;
}

@media only screen and (max-width: 700px) {
    .date {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 90vw;
    }
}